@import "variables";
@import "fonts";
@import "button";

//Header and Top Section
header {
  .navbar-background {
    position: relative;
    padding: 15px;
    background-color: $navbarBackColor;
    .navbar-top {
      font-family: $fontNav;
      z-index: 999;
      ul{
        li {
          padding-left: 15px;
          a {
            color: white;
            font-size: 18px;
            font-weight: 100;
            &:hover {
              color: $contact_btn
            }
          }
        }
      }
      .custom-toggler {
        span {
          width: 40px;
          background-color: white;
          height: 4px;
          display: block;
          border-radius: 3px;
          margin: 8px 0;
          transition:  all .35s ease;
        }
        &:focus {
          box-shadow: none;
        }
        &.active {
          .top {
            transform: translateY(13px) translateX(0) rotate(45deg);
          }
          .middle {
            opacity: 0;
          }

          .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
          }
        }
      }
    }
  }
}
//Middle section
.mid-top {
  background-image: $topBack;
  padding-top: 80px;
  padding-bottom: 40px;
  h1 {
    padding-top: 15px;
    color: $h1Color;
    font-size: 82px;
  }
  img {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .l-side{
    &::after {
      position: absolute;
      content: url("../../assets/img/star.svg");
      left: -25%;
      top: -6%;
    }
  }
  .rb-side {
    margin-top: 80px;
    .task-text {
      margin-bottom: 17px;
      font-family: $fontMid2;
      text-transform: uppercase;
      font-size: 30px;
    }
    .item-head {
      font-family: $fontMid1;
      font-size: 22px;
      margin-bottom: 5px;
    }
    .item-text {
      font-size: 20px;
    }
  }
}
.mid-main {
  background-color: $mainBackColor;
  padding-top: 80px;
  padding-bottom: 34px;
  .mid-main-h {
    h2 {
      color: white;
      font-size: 42px;
    }
    &::after {
      position: absolute;
      content: "";
      background-image: url('../../assets/img/1num.svg');
      background-size: contain;
      width: 100%;
      background-repeat: no-repeat;
      min-height: 440px;
      top: 0;
      left: -28%;
    }
  }
  .mid-main-j {
    padding-bottom: 150px;
    img {
      width: 100%;
    }
    &::after {
      position: absolute;
      content: "";
      background-image: url('../../assets/img/star_1_1.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 70%;
      min-height: 765px;
      top: 26%;
      right: -9%;
    }
    span {
      font-family: $fontNav;
      color: white;
      font-size: 18px;
      bottom: 19%;
      right: 148px;
      z-index: 1;
      line-height: 23.4px;
    }
  }

  .mid-main-k {
    position: relative;
    img {
      width: 100%;
    }
    &::after {
      position: absolute;
      content: '';
      background-image: url("../../assets/img/bstar_2.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 60%;
      min-height: 592px;
      top: 23%;
      left: -19%;
    }
  }
  .mid-main-l {
    padding-top: 250px;
    position: relative;
    img {
      position: relative;
      z-index: 2;
      width: 100%;
    }
    &::before {
      position: absolute;
      content: '';
      background-image: url("../../assets/img/cat.webp");
      background-size: cover;
      background-repeat: no-repeat;
      width: 120%;
      min-height: 65%;
      top: -34%;
      left: -28%;
      z-index: 1;
    }
    &::after {
      position: absolute;
      content: '';
      background-image: url("../../assets/img/star_1_1.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 64%;
      min-height: 600px;
      top: -5%;
      right: -8%;
      z-index: 3;
    }
    span {
      font-family: $fontNav;
      font-size: 18px;
      color: white;
      z-index: 4;
      right: 149px;
      top: 29%;
      line-height: 23.4px;
    }
  }
  .mid-main-m {
    padding-top: 200px;
    img {
      width: 100%;
    }
    .phone-2 {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        background-image: url("../../assets/img/cat_side.webp");
        background-size: cover;
        background-repeat: no-repeat;
        width: 1000px;
        height: 750px;
        bottom: 2%;
        right: 0;
        z-index: 2;
  }

  img {
    position: relative;
    z-index: 3;
    margin-top: 10%;
  }
  p {
    color: white;
    font-family: $fontMid;
    text-transform: uppercase;
    font-size: 48px;
    top: -24%;
    line-height: 120%;
    margin-top: 10%;
  }
}
}
}
.mid-bottom {
background-image: $topBack;
padding-bottom: 120px;
h3 {
 padding: 100px 0 60px 0;
 font-size: 42px;
}
h4 {
 padding-top: 90px;
 font-size: 42px;
 margin-bottom: 0;
}
.color-img {
position: relative;
.color-1 {
  width: 76%;
}
&::after {
  position: absolute;
  content: '';
  background-image: url("../../assets/img/cat_straight.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
  min-height: 170%;
  top: 25%;
  right: 6%;
}
.color-heading {
  position: absolute;
  color: white;
  font-family: $fontNav;
  font-size: 32px;
  right: 8%;
  top: -6px;
  z-index: 1;
}
  .sp-1 {
    font-family: $fontMid1;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2.5px;
    padding-top: 33px;
    right: 18%;
    font-size: 42px;
  }
  .sp-2 {
    font-family: $fontMid1;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1.5px;
    right: 29%;
    font-size: 19.65px;
    top: 88%;
}
  .sp-3 {
    font-family: $fontMid1;
    text-transform: uppercase;
    color: white;
    font-size: 19.65px;
    letter-spacing: 1.5px;
    left: -10%;
    top: 87%;
  }
  .sp-4 {
    font-family: $fontMid1;
    text-transform: uppercase;
    color: white;
    font-size: 19.65px;
    letter-spacing: 1.5px;
    left: 5%;
    top: 87%;
  }
}
.part-myriad {
img {
width: 100%;
}
padding-top: 60px;
.myriad-1 {
width: 83%;
}
p {
padding-top: 20px;
font-size: 22px;
}
}
}
.mid-bottom-red {
padding-top: 20px;
.img-2 {
img {
width: 100%;
}
}
.red-head {
p {
line-height: 41.6px;
}
}
.mid-red {
position: relative;
top: -20%;
border: 2px solid white;
padding: 20px;
backdrop-filter: blur(4px);
z-index: 2;
background-color: rgba(231, 64, 30, .7);
}
.red-table {
.red-table-head, .red-table-head-2 {
font-family: $fontMid1;
font-size: 22px;
letter-spacing: 2px;
}
.red-table-text {
font-size: 18px;
padding-bottom: 20px;
}
.red-underline {
border-bottom: 2px solid white;
width: 95%;
}
.red-table-head-2 {
margin-bottom: 0;
padding-top: 20px;
padding-bottom: 30px;
}
}
ul {
font-family: $fontNav;
font-size: 18px;
li {
padding-bottom: 20px;
&:last-child {
padding-bottom: 0;
}
}
}
.red-img-last {
position: relative;
top: -35%;
z-index: 1;
left: -1%;
margin-bottom: -10%;
img {
width: 130%;
}
}
}

//Bottom section

.menu-bottom {
.contact {
padding-top: 80px;
h5 {
font-size: 48px;
padding-bottom: 40px;
}
.form-bottom {
.form-nobutton {
padding: 10px;
border: 1px solid white;
.form-group {
  input, textarea {
    font-family: 'HeliosC', sans-serif;
    font-weight: 100;
    padding: 12px;
    font-size: 18px;
    border-radius: 0;
  }
}
}
}
.doll-sec{
img{
max-height: 350px;
}
}
.footer-address {
.contact-info {
list-style: none;
li {
  a {
    font-family: $fontNav;
    font-size: 28px;
    color: white;
    text-decoration: none;
  }
}
.place-address {
  font-size: 21px;
}
}
padding-top: 80px;
.privacy-t {
padding-top: 40px;
padding-bottom: 60px;
font-size: 18px;
text-decoration: underline;
a{
  color: white;
}
}
}
}
}

@import "breakpoints";

